<nav>
  <div class="brand">
    <!-- <h1>MSPS</h1> -->
    <img src="/logo.png" alt="Logo" />
    <img src="/brand.svg" alt="Maa Saraswati Public School" height="60px" />
  </div>
  <div class="nav_links">
    <a href="/">Home</a>
    <a href="/school-life">School Life</a>
    <a href="/academics">Academics</a>
    <a href="/admission">Admission</a>
    <a href="/academics">Academics</a>
    <a href="/faculty">Faculty</a>
    <a href="/student">Student</a>
  </div>
</nav>

<style>
  nav {
    background: var(--color-1);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brand {
    img {
      &:first-child {
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1rem;
      }
    }
  }

  .nav_links {
    display: flex;

    a {
      position: relative;
      cursor: pointer;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: white;
      border-radius: 1rem;
      transition: all ease-in 0.2s;

      &:hover {
        background: var(--color-2);
        scale: 1.1;
        font-weight: 700;
      }
    }
  }
</style>
